

@media (max-width: 576px) {


    .resp-logo-name {
        font-size: 45px !important;
        font-weight: 400;
        width: 330px;
    }

    .jobs-slogan {
        font-size: 20px;
        color: greenyellow;
    }

    .jobs-text {
        font-size: 0.9rem;
    }

}

@media (min-width: 576px) and (max-width: 768px) {


    .resp-logo-name {
        font-size: 45px !important;
        font-weight: 400;
        width: 330px;
    }

    .jobs-slogan {
        font-size: 25px;
        color: greenyellow;
    }

    .jobs-text {
        font-size: 15px;
    }


}


@media (min-width: 768px) and (max-width: 991px) {

    .resp-logo-name {
        font-size: 45px !important;
        font-weight: 400;
        width: 330px;
    }

    .jobs-slogan {
        font-size: 25px;
        color: greenyellow;
    }

    .jobs-text {
        font-size: 15px;
    }
}


@media (min-width: 991px) and (max-width: 1200px) {


    .resp-logo-name {
        font-size: 45px !important;
        font-weight: 400;
        width: 330px;
    }

    .jobs-slogan {
        font-size: 25px;
        color: greenyellow;
    }

    .jobs-text {
        font-size: 15px;
    }
}


@media (min-width: 1200px) {

    .resp-logo-name {
        font-size: 45px !important;
        font-weight: 400;
        width: 330px;
    }

    .jobs-slogan {
        font-size: 30px;
        color: greenyellow;
    }

    .jobs-text {
        font-size: 17px;
    }


}






