.navbar.navbar-light .navbar-toggler-icon {
    
}

.nav-block {
    height: 100%;
    opacity: 0.9;
    z-index: 2000!important;
}


.navbar-block {
    background-color: rgb(14, 14, 14) !important;
    opacity: 0.9;
    z-index: 100!important;
}


.nav-item {
    color: greenyellow !important;
}

i.fab.fa-facebook-f, i.far.fa-envelope {
    color: greenyellow !important;
}

i.fab.fa-instagram {
    color: greenyellow !important;
}

.navbar {
    box-shadow: none;
}

li {
    list-style-type: none;
    text-decoration: none;
}

.navbar-toggler {
    color: black;
}




@media (max-width: 576px) {
    .nav-block {
        border: 0px;
        height: 40px !important;
    }

    .navbar-block {
        display: none !important;
    }

    #navbarCollapse1 {
        z-index: 100;
    }

    .nav-item {
        font-size: 0.8rem !important;
    }

    #navigation-mobile, .navigation-navbar {
        background-color: rgb(14, 14, 14) !important;
        height: 100%;
    }

    button.navbar.navbar-light.navbar-toggler {
        color: #65f605 !important;
        padding-bottom: 10px !important;
    }

    #navbarCollapse1 {
        background-color: rgb(101, 246, 5) !important;
        z-index: 100;
    }

    .navbar-light .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(153,255,51,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .container {
        max-width: 700px;
    }

    .nav-block {
        border: 0px;
        height: 40px !important;
    }

    .navbar-block {
        display: none !important;
    }

    .nav-item {
        font-size: 0.8rem !important;
    }

    #navigation-mobile, .navigation-navbar {
        background-color: rgb(14, 14, 14) !important;
        height: 100%;
    }

    button.navbar.navbar-light.navbar-toggler {
        color: #65f605 !important;
        padding-bottom: 10px !important;
    }

    #navbarCollapse1 {
        background-color: rgb(101, 246, 5) !important;
        z-index: 100;
    }

    button.navbar.navbar-light.navbar-toggler {
        color: #65f605 !important;
        padding-bottom: 10px !important;
    }

    #navbarCollapse1 {
        background-color: rgb(101, 246, 5) !important;
        z-index: 100;
    }

    .navbar-light .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(153,255,51,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
    }
}


@media (min-width: 768px) and (max-width: 991px) {

    #navigation-mobile {
        display: none !important;
    }

    .nav-pill {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    button.navbar.navbar-light.navbar-toggler {
        color: #65f605 !important;
        padding-bottom: 10px !important;
    }

    #navbarCollapse1 {
        background-color: rgb(101, 246, 5) !important;
        z-index: 100;
    }

    .navbar-light .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(153,255,51,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
    }


}


@media (min-width: 991px) and (max-width: 1200px) {
    #navigation-mobile {
        display: none;
    }

    .nav-pill {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}


@media (min-width: 1200px) {
    #navigation-mobile {
        display: none;
    }

    .nav-pill {
        padding-top: 12px;
        padding-bottom: 12px;
        z-index: 100!important;
    }
}